/* Estilos Globais */
body {
  font-family: Poppins, sans-serif;
  background-color: #0f0f0f; /* Fundo escuro */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #00ffff; /* Texto Neon Ciano */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cabeçalho */
header {
  background-color: #1a1a1a;
  color: #00ffff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Responsividade */
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #00ffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 255, 255, 0.3);
}

nav ul li a:hover {
  background-color: #00bfff;
  box-shadow: 0 6px 12px rgba(0, 255, 255, 0.6);
}

/* Grid de Jogos */
.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  border-radius: 12px;
}

/* Card de Jogos */
.game-card {
  background: linear-gradient(135deg, #1a1a1a 0%, #1a1a1a 100%);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-align: center;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 255, 255, 0.6);
}

.game-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Contêiner do Iframe */
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 255, 255, 0.3);
  transition: box-shadow 0.3s ease;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 10px;
  background-color: #1a1a1a;
  color: #00ffff;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* Botão de voltar para a página inicial */
.back-to-home-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #0f0f0f;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.back-to-home-button:hover {
  background-color: #ff007f;
}

/* Switch de tema */
.theme-switcher {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00ffff;
  color: #0f0f0f;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}

.theme-switcher:hover {
  background-color: #00bfff;
}

/* Tema Claro */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

header.light-theme {
  background-color: #00ffff;
  color: #0f0f0f;
}

footer.light-theme {
  background-color: #00ffff;
  color: #0f0f0f;
}

.game-card.light-theme {
  background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%);
  box-shadow: 0 4px 8px rgba(255, 0, 255, 0.3);
}

.game-card.light-theme h3 {
  color: #ff00ff;
}

.back-to-home-button.light-theme {
  background-color: #00ffff;
  color: #0f0f0f;
}

/* Barra de Pesquisa */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
  border-radius: 8px;
}

.search-bar input[type="text"] {
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #00ffcc;
  border-radius: 8px;
  outline: none;
  background-color: #2c2c2c;
  color: #00ffcc;
  flex-grow: 1;
  max-width: 300px;
}

.search-bar button {
  background-color: #ff00ff;
  border: 2px solid #ff00ff;
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar input[type="text"]:focus {
  border-color: #ff00ff;
}

/* Estilos para Botões Neon */
.neon-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #111;
  border: 2px solid #0ff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.neon-button:hover {
  color: #0ff;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}

/* Estilos para o container de registro */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  color: #39ff14;
  text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.register-form input {
  padding: 15px;
  font-size: 16px;
  background-color: #222;
  border: none;
  border-bottom: 2px solid #39ff14;
  color: white;
  outline: none;
}

.register-form input:focus {
  border-color: #00ffff;
}

.register-form button {
  padding: 15px;
  background-color: #39ff14;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #00ffff;
}

.error-message {
  color: #ff073a;
  margin-bottom: 15px;
}

.success-message {
  color: #39ff14;
  text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

p {
  color: #fff;
}

a {
  color: #39ff14;
  text-decoration: none;
}

a:hover {
  color: #00ffff;
}

/* Responsividade */
@media (max-width: 768px) {
  .register-container {
    padding: 20px;
  }

  .register-form input {
    padding: 10px;
  }

  .register-form button {
    padding: 10px;
  }
}


/* Estilos para o container de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  color: #39ff14;
  text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.login-form input {
  padding: 15px;
  font-size: 16px;
  background-color: #222;
  border: none;
  border-bottom: 2px solid #39ff14;
  color: white;
  outline: none;
}

.login-form input:focus {
  border-color: #00ffff;
}

.login-form button {
  padding: 15px;
  background-color: #39ff14;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #00ffff;
}

.error-message {
  color: #ff073a;
  margin-bottom: 15px;
}

.success-message {
  color: #39ff14;
  text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

p {
  color: #fff;
}

a {
  color: #39ff14;
  text-decoration: none;
}

a:hover {
  color: #00ffff;
}

/* Responsividade */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
  }

  .login-form input {
    padding: 10px;
  }

  .login-form button {
    padding: 10px;
  }
}

/* Estilizando a seção dos botões no topo */
.auth-buttons-container {
  position: absolute;
  top: 10px; /* Ajuste conforme necessário */
  left: 20px;
  display: flex;
  gap: 15px;
  z-index: 1000; /* Para garantir que fique sobre outros elementos */
}

.auth-buttons-container .neon-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #111;
  border: 2px solid #0ff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.auth-buttons-container .neon-button:hover {
  color: #0ff;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
  border-color: #00f6ff;
}

/* Estilos para o container de perfil */
.profile-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Garante que fique por cima de outros elementos */
}

.profile-icon {
  font-size: 2.5rem; /* Tamanho do ícone */
  color: #fff; /* Cor do ícone */
  cursor: pointer;
}

.profile-page {
  text-align: center;
  margin-top: 50px;
}

/* Estilos para o container de informações do usuário */

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #121212;
  color: #fff;
}

.profile-header {
  text-align: center;
  margin-top: 20px;
}

.profile-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.profile-content p {
  margin-bottom: 10px; /* Garante que os parágrafos fiquem um abaixo do outro */
}

.logout-button {
  background-color: #ff4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.logout-button:hover {
  background-color: #ff0000;
}




